<% if session[:username] %>
<h1>Bienvenido a tu Twitter?</h1>
<h1>Tu usuario es <%= session[:username] %></h1>
<form id="send_tweet" action="/tweet_media" method="post">
	Tweet:	<textarea rows="4" cols="50" type="text" name="tweet"></textarea><br><br>
	<input type="submit" value="Enviar">
</form><br>
<p id="message"></p>
<% end %>